<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SMSServiceFactory" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <SMSServiceFactory>
    <add key="default" value="SmsService,Faddon.SmsService"></add>
  </SMSServiceFactory>
</configuration>