body 			{font:Verdana, Arial, Helvetica, sans-serif, ""; font-size:12px; color: #000; padding:0; margin:0 10px; width:95.4%;}
a:link 			{text-decoration:none;}
a:visited 		{text-decoration:none;}
a:hover 		{color:#f60; text-decoration:underline;}

.leftul 		{margin:0 0 0.5em 1.8em; padding:0; line-height:20px;}
.leftul li 		{margin:0; padding:0;}
.gadget			{width:200px; height:auto; background:url(../images/leftFirst_bg.gif) no-repeat top center;}
.Bg_bottom		{width:200px; height:2px; overflow:hidden; background:url(../images/leftBg_bottom.gif) no-repeat center top;}
.quickLink 		{width:200px; height:auto; margin-top:8px; background:url(../images/leftFirst_bg.gif) no-repeat center top;}
.linkContent	{width:180px; font-weight:bold; margin-top:13px; margin-left:10px; margin-bottom:13px; line-height:20px;}
.messageBorad	{width:200px; height:auto; background:url(../images/left_bg.gif) no-repeat center top; margin-top:8px; padding-top:8px;}
.dashedLine		{margin:0 5px 3px 5px; border-bottom:1px dashed #a8a8a8; height:1px; overflow:hidden;}
.title			{margin-left:5px; font-weight:bold;}