/* css */

body{font:Verdana, Arial, Helvetica, sans-serif, "ו"; margin:1px; padding:0px; font-size:12px; color:#300; height:100%; text-align:center; background:#64b8ff url(../Images/login_bodyBg.gif);}

.table{width:100%; height:100%;}

#loginbox{margin:0 auto; width:451px; height:237px; background:url(../Images/login_bg.gif) no-repeat center center;}

.tableLogin{border:0; width:235px;}

#login{margin:0; padding-top:60px;}

#login1{margin:0; padding:0;}

.button{background:url(../Images/buttonbg_login.gif); width:114px; height:21px; border:0px; line-height:20px;}
.buttonTd{text-align:left; padding-left:44px;}
.input{border:1px solid #b30; background:#f5f0d5; width:139; height:21px;	}