<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section
           name="dataConfiguration"
           type="Magic.Framework.Data.Configuration.DatabaseSettings, Magic.Framework.Data" />
  </configSections>
  <dataConfiguration defaultDatabase="localServer" showSql="true" debugInfo="true"></dataConfiguration>
  <connectionStrings>
    <add name="localServer" connectionString="Data Source=dev;User ID=erp;Password=erp;"
      providerName="System.Data.OracleClient" />
  </connectionStrings>
</configuration>