<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"  />
  </configSections>

  <log4net>
    <appender name="log_erp" type="log4net.Appender.RollingFileAppender, log4net">
      <param name="File" value="log\log_erp.txt" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="MaxSizeRollBackups" value="3" />
      <param name="MaximumFileSize" value="1000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="==================================================&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;" />
        <param name="ConversionPattern" value="%d %c - %m%n" />
      </layout>
    </appender>
    <appender name="log_framework" type="log4net.Appender.RollingFileAppender, log4net">
      <param name="File" value="log\log_framework.txt" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="MaxSizeRollBackups" value="3" />
      <param name="MaximumFileSize" value="1000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="==================================================&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;" />
        <param name="ConversionPattern" value="%d %c - %m%n" />
      </layout>
    </appender>
    <appender name="log_web" type="log4net.Appender.RollingFileAppender, log4net">
      <param name="File" value="log\log_web.txt" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="MaxSizeRollBackups" value="3" />
      <param name="MaximumFileSize" value="1000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="***********************************************************************************************************&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;" />
        <param name="ConversionPattern" value="[ %d %c ]=> %m%n" />
      </layout>
    </appender>
    <appender name="log_console" type="log4net.Appender.ColoredConsoleAppender, log4net">
      <mapping>
        <level value="FATAL" />
        <foreColor value="Red" />
        <backColor value="White" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Cyan" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Green" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="***********************************************************************************************************&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;" />
        <param name="ConversionPattern" value="[%p] %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="WARN" />
      <appender-ref ref="log_erp" />
    </root>
    <logger name="Magic.Framework" additivity="false">
      <level value="INFO" />
      <appender-ref ref="log_framework" />
      <appender-ref ref="log_console" />
    </logger>
    <logger name="ERP.Web" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="log_web" />
      <appender-ref ref="log_console" />
    </logger>
    <logger name="ERP.Web.Inventory" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="log_web" />
      <appender-ref ref="log_console" />
    </logger>
    <logger name="ERP.Web.Receive" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="log_web" />
      <appender-ref ref="log_console" />
    </logger>
    <logger name="Magic.ERP" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="log_erp" />
      <appender-ref ref="log_console" />
    </logger>
    <logger name="Magic.Notification" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="log_console" />
    </logger>
  </log4net>
</configuration>